<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
        <br />
        <h1> Yermuv</h1>
        <br />
        <h2> Play Great Chess </h2>
        <br />
        <%= link_to 'Want to Play?', new_game_path, class: 'btn btn-success' %>
        <br />
        <p> </p>
        <%= link_to 'Join Game', '#', class: 'btn btn-success' %>
        <br />
    </div>
</div>
<div align="center">
    <h1>About</h1>
    <p>Yermuv is an app designed by.....</p>
    <hr class="divider-style">
    <div>...</div>
    <hr class="divider-style">
    <h1> Our Team</h1>
    <div class="row team ">
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Wilson's Profile Pic", class: "img-responsive" %>
            <p> Wilson Horrell<br>
                <a href="#">@BigPhatNerd</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Tyler's Profile Pic", class: "img-responsive" %>
            <p>Tyler Porter<br>
                <a href="#">twitterhandle</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Jason's Profile Pic", class: "img-responsive" %>
            <p>Jason Miley<br>
                <a href="#"> twitterhandle</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Drew's Profile Pic", class: "img-responsive" %>
            <p> Drew Myers<br>
                <a href="#">twitterhandle</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Josh's Profile Pic", class: "img-responsive" %>
            <p> Josh Wamble<br>
                <a href="#">twitterhandle</a></p>
        </div>
    </div>
</div>
</div>