<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
        <br />
        <h1> Yermuv</h1>
        <br />
        <h2> Play Great Chess </h2>
        <br />
        <%= link_to 'Want to Play?', new_game_path, class: 'btn btn-success' %>
        <br />
        <p> </p>
        <%= link_to 'Join Game', '#', class: 'btn btn-success' %>
        <br />
    </div>
</div>
<div class="col-10 offset-1">
    <div align="left">
        <h1>About</h1>
        <p>Yermuv Chess is the product of hard-work put into our capstone project at <a href='https://bootcamps.vanderbilt.edu/coding/online/landing/'> Vanderbilt Universities's 15-Week Coding Bootcamp</a>We assembled a team of 5 junior developers who collaboratied regularly with the guidance of our leader, Les Zychowski, to bring Yermuv Chess to fruition.</p>
        <p>As a team, we held weekly meetings to discuss the upcoming week as well as update our Trello board. Throughout the week, we held regular scrum meetings so that each of us knew exactly what our responsibilities were as well as where everyone else was in their project.</p>
        <p> Because of the complexity of this project, we were presented the opportunity to experience what it's like in a real-life work environment using tools such as git, Github, Travis CI, Rspec, and Rubocop.</p>
        <p> Below is a list of some of the things implemented within our project:</p>
    </div>
    <hr class="divider-style">
    <div>...</div>
    <hr class="divider-style">
    <h1> Our Team</h1>
    <div class="row team ">
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Wilson's Profile Pic", class: "img-responsive" %>
            <p> Wilson Horrell<br>
                <a href="#">@BigPhatNerd</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Tyler's Profile Pic", class: "img-responsive" %>
            <p>Tyler Porter<br>
                <a href="#">twitterhandle</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Jason's Profile Pic", class: "img-responsive" %>
            <p>Jason Miley<br>
                <a href="#"> twitterhandle</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Drew's Profile Pic", class: "img-responsive" %>
            <p> Drew Myers<br>
                <a href="#">twitterhandle</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <%= image_tag "me.jpg", alt: "Josh's Profile Pic", class: "img-responsive" %>
            <p> Josh Wamble<br>
                <a href="#">twitterhandle</a></p>
        </div>
    </div>
</div>
</div>