<<<<<<< HEAD
<html>

<head>
    <title>Yermuv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <% if notice.present? %>
    <p class="alert alert-info">
        <%= notice %>
    </p>
    <% end %>
    <% if alert.present? %>
    <p class="alert alert-danger">
        <%= alert %>
    </p>
    <% end %>
    <%= yield %>
</body>

</html>
=======
<!DOCTYPE html>
<html>
  <head>
    <title>Yermuv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
>>>>>>> 6b639be258e6cccc6288f2412d165b697fac6a56
