<html>

<head>
    <title>Yermuv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Yermuv', root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <%= link_to root_path, class: 'nav-link' do %>
                        <i class="fa fa-plus-circle"></i>
                        Create Game
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to root_path, class: 'nav-link' do %>
                        <i class="fa fa-plus-circle"></i>
                        Games
                    <% end %>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to 'A user is signed in!', '#', class: 'nav-link' %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to 'No user is signed in :(', '#', class: 'nav-link' %>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>


    <% if notice.present? %>
    <p class="alert alert-info">
        <%= notice %>
    </p>
    <% end %>
    <% if alert.present? %>
    <p class="alert alert-danger">
        <%= alert %>
    </p>
    <% end %>
    <%= yield %>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-3 offset-3 align-items-center">
                <%= link_to image_tag "GitHub-Mark-120px-plus.png", style: "height:10%;width:auto;", class: "mx-auto d-block"  %>
                <p class="git_link"><a href="https://github.com/allfourone/yermuv"> Link to code</a></p>
            </div>
            <div class="col-3 align-items-center">
                <%= link_to image_tag "heroku.png", style: "height:10%;width:auto;", class: "mx-auto d-block" %>
                <p class="git_link"><a href="https://yermuv.herokuapp.com/">Play chess!</a></p>
            </div>
        </div>
    </div>
</body>

</html>